html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.6;
  font-size: 16px;
  color: #d0d0d0;
  background: #272727;
}

* {
  box-sizing: border-box;
}

a {
  color: #d4aae4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
